<%	 provide(:title,"Editing " + @post.title) %>

<a class="a-home-button" href="/">
  <%=	 image_tag("lz.png",class: 'img-home-btn') %>
</a>

<div class="title-container">
  <%=	 image_tag("title-image.png", class: "title-image") %>
</div>
<div class="avatar-container">
  <a href=<%=	 about_path %>>
    <img class="avatar" src="https://github.com/tclem.png" alt=""/>
  </a>
</div>

<h1>Edit Post</h1>

<%=	 form_for @post do |f| %>

    <% if @post.errors.any? %>
        <h2 class=""><%=	 pluralize @post.errors.count, "error" %>
          prevented this post from updating
        </h2>
        <ul>
          <%	 @post.errors.full_messages.each do |msg| %>
              <li><%=	 msg %></li>
          <%	 end %>
        </ul>
    <%	 end %>

    <p>
      <%=	 f.label :title %>
      <%=	 f.text_field :title %>
    </p>

    <p>
      <%=	 f.label :body %>
      <%=	 f.text_area :body %>
    </p>

    <p>
      <%=	 f.submit %>
    </p>
<%	 end %>