<%	 provide(:title,"Create a new blog") %>

<a class="a-home-button" href="/">
  <%=	 image_tag("lz.png",class: 'img-home-btn') %>
</a>

<div class="title-container">
  <%=	 image_tag("title-image.png", class: "title-image") %>
</div>
<div class="avatar-container">
  <a href=<%=	 about_path %>>
    <%=	 image_tag "avatar.png", class: "avatar" %>
  </a>
</div>

<div class="article-editor-container">
  <h1>New Post</h1>

  <%=	 form_for :post, url: posts_path do |f| %>

      <% if @post.errors.any? %>
          <h2 class=""><%=	 pluralize @post.errors.count, "error" %>
            prevented this post from saving
          </h2>
          <ul>
            <%	 @post.errors.full_messages.each do |msg| %>
                <li><%=	 msg %></li>
            <%	 end %>
          </ul>
      <%	 end %>

      <p>
        <%=	 f.label :title %>
        <%=	 f.text_field :title, class:"article-title-editor" %>
      </p>

      <p>
        <%=	 f.label :body %>
        <%=	 f.text_area :body,class:"article-body-editor" %>
      </p>

      <p>
        <%=	 f.submit "save post",class:"primary-btn" %>
      </p>
  <%	 end %>
</div>
