<%	 provide(:title, @post.title) %>

<a class="a-home-button" href="/">
  <%=	 image_tag("lz.png",class: 'img-home-btn') %>
</a>

<div class="article-container">
  <h1 class="h1-title" style="color: black;">
    <%=	 @post.title %>
  </h1>

  <p class="date">
    Submitted <%=	 time_ago_in_words(@post.created_at) %> Ago
    <%	 if zlogged_in? %>
    | <%=	 link_to 'Edit', edit_post_path(@post) %>
    | <%=	 link_to 'Delete', post_path(@post),method: :delete, data: {confirm: 'Are you sure?'}%>
    <%	 end %>
        </p>

  <pre class="pre-article-body">
    <%=	 markdown(@post.body) %>
  </pre>
</div>

<div class="footer-avatar-container">
  <a href=<%=	 about_path %>>
    <%=	 image_tag "avatar.png", class: "avatar" %>
  </a>
  <div >
    <p class="footer-intro">
      Hi,I'm Zhou Liu.I'm a student, programmer, designer and hacker at BUPT in Beijing.
    </p>
  </div>
</div>

<div style="margin-left: auto;margin-right: auto;width: 65%;
        border-bottom: 1px solid #eee;padding-top: 20px;">
  <h2><%=	 @post.comments.count %> Comments</h2>
</div>
<div class="comments-container">
    <%=	 render @post.comments.order('created_at DESC') %>
</div>

<div style="margin-left: auto;margin-right: auto;width: 65%;">
  <h2>Add a comment</h2>
  <%=	 form_for([@post, @post.comments.build]) do |f| %>
      <p>
        <%=	 f.label :name %> <br>
        <%=	 f.text_field :name, class:"comment-name-editor" %>
      </p>

      <p>
        <%=	 f.label "comment" %> <br>
        <%=	 f.text_area :body,class:"comment-body-editor" %>
      </p>
      <br/>
      <%=	 f.submit class:"primary-btn" %>
  <%	 end %>
</div>



