<!DOCTYPE html>
<html>
<head>
  <title><%=	 zfull_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%=	 favicon_link_tag "lz_3.ico" %>
  <%= csrf_meta_tags %>
</head>
<body>

<script type="text/javascript">
    document.querySelector("textarea").addEventListener('keydown',function(e) {
        if(e.keyCode === 9) { // tab was pressed
            // get caret position/selection
            var start = this.selectionStart;
            var end = this.selectionEnd;

            var target = e.target;
            var value = target.value;

            // set textarea value to: text before caret + tab + text after caret
            target.value = value.substring(0, start)
            + "\t"
            + value.substring(end);

            // put caret at right position again (add one for the tab)
            this.selectionStart = this.selectionEnd = start + 1;

            // prevent the focus lose
            e.preventDefault();
        }
    },false);
</script>

<div class="wrapper-main">
  <div class=" main-content-container">
    <%= yield %>
  </div>

  <div class="footer-container">
    <%	if zlogged_in? %>
        <%=	 link_to "Logout",logout_path,method: :delete,class: "footer-item" %>
        <a class="footer-item" href=<%=	 new_post_path %>>New</a>
    <%	 else %>
        <a class="footer-item" href=<%=	 login_path %>>Login</a>
    <%	 end %>
  </div>
</div>


</body>
</html>
